.left{
    text-align: initial;
}
*{
    font-family: 'Almarai', sans-serif;
}

header {
    padding-right: 3.4%;
    padding-left: 0%;
}
.logo h2{
    text-align: center;
}
.login{
    position: relative;
}
.login h2{
    text-align: right;
}
table thead tr th:last-child {
    padding: 0;
    border: 0;
    vertical-align: top;
}
table thead th:last-child strong {
    display: block;
    border: 1px solid;
    height: 54px;
    position: relative;
    right: 9px;
    line-height: 47px;
    width: calc(100% - 19px) !important;
}
.th1{
    text-align: center;
}
.th1 > strong:hover{
    background-color: #336e7c;
    color:#fff;
    border-color: #336e7c;
}
.th2{
    text-align: center;
    border: solid 1px;
}
.th2:hover{
    background-color: #336e7c;
    color:#fff;
    border-color: #336e7c;
}
.contant{
    padding: 2%;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    }
td > div {
    margin: 2px;
    background-color: #336e7c;
    }
    .days{
        width: 10%;
        position: relative;
    }
    .paconf{
        background-color: white;
        color: #2a5d6a;
        width:30%;
    }
    .conf{
        background-color: #2a5d6a;
        color: white;
        width:30%;
    }
    .nb-booking h6{
        color: white;
    }
    .nb-booking a{
        text-decoration: none;
    }
    .seconddiv{
        background-color: #2a5d6a;
        text-align: center;
    }
    .name-day{
        color: #fff;
        font-size: 1.2rem;
        font-size: large;
    }
    .date{
        color: white;
    }
    .name-salle{
        position: relative;
    text-align: center;
    color: #fff;
    width: 83.5% !important;
    margin-left: auto;
    margin-right: 27px !important;
    bottom: -66px;
    }
    .d-flex h2{
        color: #336e7c;
    }
    .form-check-input:checked{
        background-color: #336e7c;
        border-color:#336e7c;
    }
    thead strong{
        font-size: 1.5rem;
    }
    div .form-group{
        display: inline-flex;
    }
    label {
        font-size: 1.4rem;
        font-weight: bold;
    }
    .th2{
        margin-right: 18%;
        position: relative;
        display: flow-root;
        width: 76%;
    }
    .nav{
        display: contents;
    }
    li{
        text-align: center;
    }
    li a{
        text-decoration: none;
        color: #b7b5b5;
        text-align: none;
    }
    .popup {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.75);
    }
    .popup {
        text-align: center;
    }
    .popup:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        position: relative;
        max-width: 500px;
        width: 90%;
        padding: 40px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
        border-radius: 3px;
        background: #fff;
        text-align: center;
    }

    .popup-inner h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
    }

    .popup-inner p {
        font-size: 24px;
        font-weight: 400;
    }
    .popup-close {
        width: 34px;
        height: 34px;
        padding-top: 4px;
         display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        border-radius: 100%;
        background: transparent;
        border: solid 4px #808080;
    }

    .popup-close:after,
    .popup-close:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 5px;
        height: 4px;
        width: 16px;
        border-radius: 30px;
        background: #808080;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .popup-close:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .popup-close:hover {
        -webkit-transform: translate(50%, -50%) rotate(180deg);
        transform: translate(50%, -50%) rotate(180deg);
        background: #f00;
        text-decoration: none;
        border-color: #f00;
    }

    .popup-close:hover:after,
    .popup-close:hover:before {
        background: #fff;
    }
    .popup-inner > h3{
        text-align: initial;
    }
    .popup-inner > h3 span{
        color: #2a5d6a;
    }
    .popup-inner > h4 span{
        color:#2a5d6a
    }
    hr{
        background-color:#2a5d6a;
    }
    li a{
        text-decoration: none;
        color: #b7b5b5;
        text-align: none;
        font-style: bold;
    }
    .active{
        text-decoration: none;
        color: #336e7c;
        text-align: none;
        font-style: bold;
    }
    .card:hover{
        background:#336e7c;
        color:#fff;
    }
    a:hover {
        color: #336e7c;
    }
    li a{
        text-decoration: none;
        color: #b7b5b5;
        text-align: none;
        font-style: bold;
    }
    .active{
        text-decoration: none;
        color: #336e7c;
        text-align: none;
        font-style: bold;
    }
    .card:hover{
        background:#336e7c;
        color:#fff;
    }
    a:hover {
        color: #336e7c;
    }
    .seconddiv .name-day{
        font-family: 'Almarai', sans-serif;
    }
    .days-booking-1 {
        height: 69px;
    }
    .add-order {
        background-color: #fff;
        height: 69px;
        margin-top: -15%;
    }
    spn.plus {
        font-size: 42px;
        color: #336e7c;
    }
    .btn{
        background: #2a5d6a;
        color: #fff;
        font-size: 17px;
        margin: 5px;
    }

.logo h2{
    text-align: center;
}
.login{
    position: relative;
}
.login h2{
    text-align: right;
}
table thead tr th:last-child {
    padding: 0;
    border: 0;
    vertical-align: top;
}
table thead th:last-child strong {
    display: block;
    border: 1px solid;
    height: 54px;
    position: relative;
    right: 9px;
    line-height: 47px;
    width: calc(100% - 19px) !important;
}
.th1{
    text-align: center;
}
.th1 > strong:hover{
    background-color: #336e7c;
    color:#fff;
    border-color: #336e7c;
}
.th2{
    text-align: center;
    border: solid 1px;
}
.th2:hover{
    background-color: #336e7c;
    color:#fff;
    border-color: #336e7c;
}
.contant{
    padding: 2%;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    }
td > div {
    margin: 2px;
    background-color: #336e7c;
    }
    .hours{
        width: 7%;
        position: relative;
    }
    .conf{
        background-color: white;
        color: #2a5d6a;
        width:30%;
        margin-bottom: 2%;
    }
    .paconf{
        background-color: #2a5d6a;
        color: white;
        width:30%;
    }
    .nb-booking h6{
        color: white;
    }
    .nb-booking a{
        text-decoration: none;
    }
    .nbb-booking h6{
        color: white;
    }
    .nbb-booking a{
        text-decoration: none;
    }
    .seconddiv{
        background-color: #2a5d6a;
        text-align: center;
    }
    .name-day{
        color: #fff;
        font-size: 1.2rem;
        font-size: large;
    }
    .date{
        color: white;
    }
    .d-flex h2{
        color: #336e7c;
    }
    .form-check-input:checked{
        background-color: #336e7c;
        border-color:#336e7c;
    }
    thead strong{
        font-size: 1.5rem;
    }
    .border-booking{
        display: flex;
        margin-right: 42% !important;
        padding-top: 6%;
    }
    div .form-group{
        display: inline-flex;
    }
    .th2{
        margin-right: 18%;
        position: relative;
        display: flow-root;
        width: 76%;
    }
    .nav{
        display: contents;
    }
    li{
        text-align: center;
    }
    li a{
        text-decoration: none;
        color: #b7b5b5;
        text-align: none;
    }
    .popup {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.75);
    }
    .popup {
        text-align: center;
    }
    .popup:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        position: relative;
        max-width: 500px;
        width: 90%;
        padding: 15px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
        border-radius: 3px;
        background: #fff;
        text-align: center;
    }

    .popup-inner h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
    }

    .popup-inner p {
        font-size: 24px;
        font-weight: 400;
    }
    .popup-close {
        width: 34px;
        height: 34px;
        padding-top: 4px;
         display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        border-radius: 100%;
        background: transparent;
        border: solid 4px #808080;
    }

    .popup-close:after,
    .popup-close:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 5px;
        height: 4px;
        width: 16px;
        border-radius: 30px;
        background: #808080;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .popup-close:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .popup-close:hover {
        -webkit-transform: translate(50%, -50%) rotate(180deg);
        transform: translate(50%, -50%) rotate(180deg);
        background: #f00;
        text-decoration: none;
        border-color: #f00;
    }

    .popup-close:hover:after,
    .popup-close:hover:before {
        background: #fff;
    }
    .popup-inner > h1{
        color: #2a5d6a;
        padding: 2%;
    }
    .popup-inner > h3{
        text-align: initial;
        padding: 2%;
    }
    .popup-inner > h4{
        padding: 2%;
    }up-inner > h3 span{
        color: #2a5d6a;
        padding: 2%;
    }
    .popup-inner > h4 span{
        color:#2a5d6a;
        padding: 2%;
    }
    hr{
        background-color:#2a5d6a;
    }
    .active{
        text-decoration: none;
        color: #336e7c;
        text-align: none;
        font-style: bold;
    }
    .card:hover{
        background:#336e7c;
        color:#fff;
    }
    a:hover {
        color: #336e7c;
    }
    li a{
        text-decoration: none;
        color: #b7b5b5;
        text-align: none;
        font-style: bold;
    }
    .active{
        text-decoration: none;
        color: #336e7c;
        text-align: none;
        font-style: bold;
    }
    .card:hover{
        background:#336e7c;
        color:#fff;
    }
    a:hover {
        color: #336e7c;
    }
    .seconddiv .name-day{
        font-family: 'Almarai', sans-serif;
    }
    .nb-booking {
        text-align: center;
        padding-top: 15%;
    }
    .nbb-booking {
        text-align: center;
    }
    .days-booking-1 {
        height: 69px;
    }
    .add-order {
        background-color: #fff;
        height: 69px;
        margin-top: -15%;
    }
    spn.plus {
        font-size: 42px;
        color: #336e7c;
    }
    .btn{
        background: #2a5d6a;
        color: #fff;
        font-size: 17px;
        margin: 5px;
    }


  .form-switch {
display: inline-block;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
}

.form-switch i {
position: relative;
display: inline-block;
margin-right: .5rem;
width: 46px;
height: 26px;
background-color: #e6e6e6;
border-radius: 23px;
vertical-align: text-bottom;
transition: all 0.3s linear;
}

.form-switch i::before {
content: "";
position: absolute;
left: 0;
width: 42px;
height: 22px;
background-color: #fff;
border-radius: 11px;
transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
transition: all 0.25s linear;
}

.form-switch i::after {
content: "";
position: absolute;
left: 0;
width: 22px;
height: 22px;
background-color: #fff;
border-radius: 11px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
transform: translate3d(2px, 2px, 0);
transition: all 0.2s ease-in-out;
color: #2a5d6a;
}

.form-switch:active i::after {
width: 28px;
transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i  { background-color: #2a5d6a; color:#2a5d6a !important }
.form-switch input:checked + i  + span.lab1   { color:#2a5d6a !important }
.form-switch input:checked + i + span.lab1  { color: #2a5d6a !important;}
.form-switch input  span.lab1 + i { color: #2a5d6a;}

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
.form-switch i::before {
content: "";
position: absolute;
left: 0;
width: 42px;
height: 22px;
background-color: #336e7c;
border-radius: 11px;
transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
transition: all 0.25s linear;
}
.form-switch input:checked + i + .lab2  { color: #2a5d6a !important;}
.form-switch input:checked + i + .lab1  { color: #2a5d6a !important;}
span.lab1 {
    color: #9c9c9c;
}

.nav-fixed{
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
}

/* Color labels green by default */
.role-selector input+span {
    color: #2a5d6a;
  }
  .role-selector input+*+*+span {
    color: grey;
  }
  
  
  /* Color labels when input is checked */
  .role-selector input:checked+span {
    color: grey;
  }
  .role-selector input:checked+*+*+span {
    color: #2a5d6a;
  }
  .bg-light {
    background-color: #E6E6E6!important;
}
.hov:hover{
    background-color: #336e7c;
    color:#fff;
    border-color: #336e7c;
}

.dayshead {
    width: 272px;
    display: inherit;
}
.jo{
    background: #2a5d6a;
    width: 109%;
    margin-right: 4%;
    color: #fff;
    margin-top: 11PX;
}

.navb{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
}
.name-salle{
    margin-right: 25px !important;
}
.head{
    width: 100%;
}
a{
    text-decoration: none;
}
.table-td{
    width: 10%;
}
.booking {
    background: #336e7c;
}
.bod .booking{
    background: #FFF;
    border: 2px #336e7c solid;
}
.bod .booking.positive{
    background: #336e7c;
}
.bod .booking h6{
    color: #336e7c;
}
.bod .booking.positive h6{
    color: #FFF;
}
.name-lka3a{
    text-align: center;
    background: #2a5d6a;
    color: #fff;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .card {
        display: inline-block;
    }
}
 .scrolling-wrapper {
     -webkit-overflow-scrolling: touch;
 }
 .lhojozat > strong {
     display: block;
     border: 1px solid;
     position: relative;
     right: 9px;
     line-height: 47px;
     width: calc(100% - 19px) !important;
 }
 .l9a3at  strong {
     display: block;
     border: 1px solid;
     position: relative;
     right: 9px;
     line-height: 47px;
     width: calc(96% - 19px) !important;
 }
 .card-img{
      max-width: 10%;
 }
 @media only screen and (max-width: 1024px) {
     .card-img {
          max-width: 20%;
     }
     .l9a3at{
         width: 20% !important;
     }
     .lhojozat{
         width: 80% !important;
     }
     img{
         width: 164px !important;
     }
     .lhojozat > strong {
         width: calc(115% - 19px) !important;
         height: 60px;
     }
     .table-td{
         width: 20% !important;
     }
 }
 header {
     padding-right: 69px !important;
     padding-left: 0 !important;
     width: 100%;
 }
 .hov:hover{
     background-color: #336e7c;
     color:#fff;
     border-color: #336e7c;
 }
 strong.hov {
     font-size: 1.5rem !important;
 }
 .form-switch input + i + .lab2 {
     color: #2a5d6a !important;
 }
 .lab1 + .form-switch input:checked + i {
     color: #2a5d6a !important;
 }
  .booking{
      height: 90px;
      width: 100%;
  }
  .pad{
      padding-top:10px !important;
  }
  .clickday{
      background: #336e7c;
      width: 92%;
      margin-right: 5%;
      color: #fff;
  }

  div#details {
        cursor: pointer;
}

.l9a3at,
.lhojozat{
    font-size: 24px;
}

th.th2,
.l9a3at {
    background: white !important;  
    background: white !important;
    color: #336e7c !important;
}

th.th1,
.lhojozat {
    background: white !important;
    color: #336e7c !important;
}

table thead th:last-child strong {
    background: white !important;
    color: #336e7c !important;
}

.btn{
    width: 200px;
    height: 62px;
    line-height: 40px;
}
    
.navb{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
}
.container-fluid h2{
    margin-left: auto;
    margin-right: auto;
}
div .form-group{
        display: inline-flex;
    }
.logo h2{
    text-align: center;
}
.login{
    position: relative;
}
.login h2{
    text-align: right;
}
.contant{
    padding-left: 2%;
    padding-right: 2%;
}
.th1{
    text-align: center;
    border: solid 1px;
}
.th2{
    text-align: center;
    border: solid 1px;
}
.sold{
    background: #336e7c;
    color: #fff;
}
.sold:hover{
    background-color: #fff;
    color:#000;
    border-color: #336e7c;
}
.total-sold{
    background: #fff;
    color: #000;
    border-color: #336e7c;
    margin-right: 1%;
}
.total-sold:hover{
    background: #336e7c;
    color: #fff;
    margin-right: 1%;
}
.total{
    position: relative;
    text-align: left;
}
.card{
    color: #336e7c;
    display: -webkit-inline-box;
    padding: 2%;
    margin-bottom: 2%;
    border-color: #336e7c;
}
.wallet,
.invoice{
    margin-top:2%
}
.month i{
    margin-left: 5%;
}
.nav{
    display: contents;
}
li{
    text-align: center;
}
li a{
    text-decoration: none;
    color: lightgray;
    text-align: none;
    font-style: bold;
}
.active{
    text-decoration: none;
    color: #336e7c;
    text-align: none;
    font-style: bold;
}
.card:hover{
    background:#336e7c;
    color:#fff;
}
a:hover {
    color: #336e7c;
}
.container > p{
    color: #336e7c;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 55px;
    text-align: center;
}
.redirect{
    margin-right: 35%;
    background: #336e7c;
    color: #fff;
    border-color: #336e7c;
}
.redirect:hover{
    background-color: #fff;
    color:#000;
}

body .popup .popup-inner .label{
    display: inline-block;
    width: 160px;
    color: #2a5d6a;
}

*{
    font-family: 'Almarai', sans-serif;
}
.vl {
    border-left: 3px solid #336e7c;
    height: 103px;
    margin-top: 1%;
}
.btn{
    line-height: 40px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 33.3px;
    margin-top: 25px;
}
.navb{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
}
.container-fluid h2{
    margin-left: auto;
    margin-right: auto;
}
div .form-group{
        display: inline-flex;
    }
.logo h2{
    text-align: center;
}
.login{
    position: relative;
}
.login h2{
    text-align: right;
}
.contant{
    padding-left: 2%;
    padding-right: 2%;
}
.th1{
    text-align: center;
    border: solid 1px;
}
.th2{
    text-align: center;
    border: solid 1px;
}
.card{
    border-color: #336e7c;
    margin-bottom: 2%;
}
.sold{
    background: #336e7c;
    color: #fff;
}
.total-sold{
    background: #fff;
    color: #000;
    border-color: #336e7c;
    margin-right: 1%;
}
.total{
    position: relative;
    text-align: left;
}
.card{
    color: #336e7c;
    display: -webkit-inline-box;
    border-radius: 0rem;
}
.facteur{
    margin-top:2%
}
.month i{
    margin-left: 5%;
}
.nav{
    display: contents;
}
li{
    text-align: center;
}
li a{
    text-decoration: none;
    color: lightgray;
    text-align: none;
}
.name-salle{
    background-color: #336e7c;
    text-align: center;
    color: #fff;
    width: 36%;
    margin-left: auto;
}
hr{
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 100vh;
    width: 1px;       
}
.review{
    color: #fff;
    background-color: #336e7c;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
}
.facteur h5{
    color: #000;
}
.conten-review h3{
    color: #000;
    padding: 5%;
}
.reply{
    padding: 2%;
    width: 29%;
}
.reply h3{
    text-align: left;
}
.card img{
    width: 36%;
    position: relative;
    max-width:100%;
    display:block;
    height:auto;
}
.review a{
    margin-right: 2%;
}
li{
    text-align: center;
}
li a{
    text-decoration: none;
    color: lightgray;
    text-align: none;
    font-style: bold;
}
.active{
    text-decoration: none;
    color: #336e7c;
    text-align: none;
    font-style: bold;
}
.card:hover{
    background:#336e7c;
    color:#fff;
}
    h5{
        color:#fff;
    }
a:hover {
    color: #336e7c;
}
.image-review{
    margin-left: -14%;
}
.container > p{
    color: #336e7c;
    padding-top: 20%;
    padding-bottom: 5%;
    font-size: 55px;;
}
.redirect{
    margin-right: 35%;
    background: #336e7c;
    color: #fff;
    border-color: #336e7c;
}
.redirect:hover{
    background-color: #fff;
    color:#000;
    border-color: #336e7c;
}
li a{
text-decoration: none;
color: #b7b5b5;
text-align: none;
font-style: bold;
}
.active{
text-decoration: none;
color: #336e7c;
text-align: none;
font-style: bold;
}
.card:hover{
background:#336e7c;
color:#fff;
}
a:hover {
color: #336e7c;
}
li a{
text-decoration: none;
color: #b7b5b5;
text-align: none;
font-style: bold;
}
.active{
text-decoration: none;
color: #336e7c;
text-align: none;
font-style: bold;
}
.card:hover{
background:#336e7c;
color:#fff;
}
a:hover {
color: #336e7c;
}
.bg-light {
background-color: #E6E6E6!important;
}

.facteur .card{
    margin: 0;
    padding: 10px;
}